
@keyframes crescendoZap {
    0% {  
        width: 14px;
        height: 14px;      
    }

    100% {
        width: 16px;
        height: 16px;
        opacity: 0.9;
    }
}

.marca img{

    animation-name: crescendoZap;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fotoAparecendo {
    0% {  
        width: auto;
        height: 20px;
        opacity: 0.1;      
    }

    100% {
        opacity: 1;
    }
}

#foto {

    animation-name: fotoAparecendo;
    animation-duration: 1000ms;
    animation-iteration-count: initial;
    animation-direction: initial;
}